In [1]:
import pandas as pd

In [7]:
#import the file
data=pd.read_csv(r"\Users\n8gre\OneDrive\Documents\GitHub\python-challenge\pypoll\PyPoll.csv")
data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [10]:
#total count of votes = 3521001
voco=data.groupby(["Voter ID"])["Voter ID"].count()
voco

Voter ID
10000002    1
10000006    1
10000009    1
10000013    1
10000016    1
10000019    1
10000021    1
10000029    1
10000030    1
10000032    1
10000033    1
10000034    1
10000035    1
10000043    1
10000044    1
10000046    1
10000049    1
10000051    1
10000054    1
10000056    1
10000059    1
10000063    1
10000068    1
10000071    1
10000075    1
10000076    1
10000078    1
10000083    1
10000084    1
10000087    1
           ..
19999912    1
19999913    1
19999914    1
19999918    1
19999925    1
19999928    1
19999930    1
19999931    1
19999932    1
19999934    1
19999938    1
19999939    1
19999941    1
19999943    1
19999947    1
19999951    1
19999953    1
19999956    1
19999957    1
19999958    1
19999962    1
19999968    1
19999974    1
19999981    1
19999982    1
19999985    1
19999986    1
19999990    1
19999992    1
19999998    1
Name: Voter ID, Length: 3521001, dtype: int64

In [12]:
#total list of candidates with total votes and winner is Khan
caco=data.groupby(["Candidate"])["Candidate"].count()
caco

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [17]:
#percent of each candidate
pcv=pd.DataFrame({'PCV': data.groupby(('Candidate')).size()/len(data)})
pcv

            PCV
Candidate
Correy     0.20
Khan       0.63
Li         0.14
O'Tooley   0.03